In [3]:
# !pip install kaggle
import kaggle
# Dowload dataset using kaggle api
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv.zip to d:\personal_projects\ETL_retail

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|██████████| 200k/200k [00:00<00:00, 388kB/s]
100%|██████████| 200k/200k [00:00<00:00, 381kB/s]

In [4]:
# Extract the file from zip file
import zipfile
zip_ref = zipfile.ZipFile("orders.csv.zip")
zip_ref.extractall() #extract file to dir
zip_ref.close() # closing the file

In [12]:
# Read data from csv file and handle null values
import pandas as pd
df = pd.read_csv("orders.csv",na_values=['Not Available','unknown'])
df.head(10)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,NaN,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3

In [8]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [18]:
# Rename the column names, make them lower case and replace space with '_'
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(" ",'_')
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [19]:
df.dtypes

order_id             int64
order_date          object
ship_mode           object
segment             object
country             object
city                object
state               object
postal_code          int64
region              object
category            object
sub_category        object
product_id          object
cost_price           int64
list_price           int64
quantity             int64
discount_percent     int64
dtype: object

In [20]:
# Convert order_date object to datetime format
df['order_date'] = pd.to_datetime(df['order_date'],format="%Y-%m-%d")

In [21]:
# Derive new columns discount, sale price, profit
df['discount'] = df['list_price'] * df['discount_percent']*0.01
df['sale_price'] = df['list_price'] - df['discount']
df['profit'] = df['sale_price'] - df['cost_price']

In [22]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [23]:
# Drop the columns cost_price, list_price, discount_percent	
df.drop(columns=['cost_price', 'list_price', 'discount_percent'],inplace=True)

In [24]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0

In [33]:
! pip install SQLAlchemy

Collecting SQLAlchemy
  Downloading SQLAlchemy-2.0.31-cp312-cp312-win_amd64.whl.metadata (9.9 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hp\miniconda3\envs\tutor\lib\site-packages (from SQLAlchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\miniconda3\envs\tutor\lib\site-packages (from SQLAlchemy) (3.0.3)
Downloading SQLAlchemy-2.0.31-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB 991.0 kB/s eta 0:00:03
   -- ------------------------------------- 0.1/2.1 MB 1.3 MB/s eta 0:00:02
   ---- ----------------------------------- 0.3/2.1 MB 2.0 MB/s eta 0:00:01
   ---------- ----------------------------- 0.5/2.1 MB 2.7 MB/s eta 0:00:01
   -------------- ------------------------- 0.7/2.1 MB 2.8 MB/s eta 0:00:01
   -------------------- ------------------- 1.1/2.1 MB 3.2 MB/s eta 0:00:01
   --------------------------- ------------ 1.4/2.1 MB 3.6 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 3.7 MB/s eta 0:00:00
Installing collected packages: SQLAlchemy
Successfully installed SQLAlchemy-2.0.31

In [36]:
! pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-5.1.0-cp312-cp312-win_amd64.whl.metadata (2.8 kB)
Downloading pyodbc-5.1.0-cp312-cp312-win_amd64.whl (69 kB)
   ---------------------------------------- 0.0/69.3 kB ? eta -:--:--
   ----------------- ---------------------- 30.7/69.3 kB ? eta -:--:--
   ---------------------------------------- 69.3/69.3 kB 936.8 kB/s eta 0:00:00
Installing collected packages: pyodbc
Successfully installed pyodbc-5.1.0

In [50]:
# connect the database and load it in the sql server
import pyodbc
import sqlalchemy as sa
from sqlalchemy.sql import text

# DSN name created in ODBC Data Source Administrator
dsn = 'sqlexpress'

# Construct the connection string using DSN
connection_string = f"DSN={dsn};Trusted_Connection=yes;"

# Create an engine
engine = sa.create_engine(f'mssql+pyodbc:///?odbc_connect={connection_string}')

conn = engine.connect()
# # Test the connection
# with engine.connect() as conn:
#     result = conn.execute(text("SELECT 1"))
#     print(result.fetchone())

In [52]:
# pandas create highest datatype if we create a table using replace
# df.to_sql('df_orders',con=conn,index=False,if_exists='replace')

# always better create a table in sql and append the rows using below code
df.to_sql('df_orders',con=conn,index=False,if_exists='append')

38

In [48]:
# df.to_csv('df_orders.csv')